
		<div class = "col-md-6">
		<form action="/{{this.id}}?_method=DELETE" method='POST'>	 
	   <button class="btn btn-secondary btn-sm" type = "submit"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Remove</button>
	    </form>	
		</div>